In [1]:
import pandas as pd
import numpy as np
import re

In [6]:
ratings = pd.read_csv(r"C:\Users\user\Desktop\AMZN2.csv")
df=ratings.loc[:,['Open','Close']]
df.head()
ratings['Date'] = pd.to_datetime(ratings['Date'])
ratings['date'] = ratings['Date'] - pd.to_timedelta(ratings['Day'], unit='d')
df1=ratings.loc[:,['date']]

df1.to_csv(r'C:\Users\user\Desktop\NewDate.csv',index=False)
df1

          date
0   2020-12-27
1   2020-12-28
2   2020-12-29
3   2020-12-30
4   2021-01-03
..         ...
250 2021-12-22
251 2021-12-26
252 2021-12-27
253 2021-12-28
254 2021-12-29

[255 rows x 1 columns]